<!DOCTYPE html>
<html>
<head><link rel="stylesheet" type="text/css" href="f/mystyle.css"></head>
<body>
<h1>Welcome to Alex's Library!</h1>
<div class="navbar">
  <a href="/">Home</a>
  <a href="/livrare">Detalii livrare</a>
  <a href="/contact">Contact</a>
</div>
<div class="main">
<td valign="top">
<h2><i>"A book a day keeps the stupidity away" </i></h2>
<span style="margin-left: 20px; font-size:20px"><b>Cele mai noi carti </b></span>
<table cellpadding="30">
<% for(var carte of carti) { %>
<td align="center">
<img src="<%=carte.imagine%>" width="75" height="100"><br>
	<b> <a href="/produse/<%=carte.id%>"><%=carte.nume%></a></b><br> de <i> <%=carte.autor%></i><br> Pret: <%=carte.pret%> lei 
</td>

<% } %>
</table>

</div>
</body>

<p align="center"> <a href ="/">&copy; Alex's Library </a></p>

</html>